.header-wrapper {
  gap: var(--gap-large);

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  .social-card-image {
    width: 88px;
    height: 88px;
    border-radius: var(--border-radius-cycle);
  }

  .social-card-title-wrapper {
    gap: var(--gap-extra-small);

    .social-card-name {
      font-size: var(--font-size-big);
      font-weight: var(--font-weight-semibold);
      color: var(--color-white);
      text-align: center;
    }

    .social-card-location {
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-bold);
      color: var(--color-green);
    }
  }

  .social-card-description {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
  }
}
