@use "normalize";
@use "_variables";
@use "_global";
@use "_social-card-header";
@use "_social-card-buttons";
@use "_responsiveness";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-grey-900);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
  color: var(--color-white);
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
